@model BaoCaoWebNangCao.Models.TAIKHOAN
@section recipeCategoryStle {
    <link rel="stylesheet" href="~/Areas/Admin/dist/css/index.css" />
}


<div class="container">
    <div class=" row styled-block">
        <p><b>Ảnh đại diện</b></p>
        <div class="d-flex justify-content-center"><img src="@Model.HINHANH" style="width: 100px; height: 100px;object-fit:cover; border-radius: 10px" /></div>
    </div>
    <div class="row styled-block">
        <p><b>ID người dùng</b></p>
        <p>@Model.ID</p>
    </div>
    <div class="row styled-block">
        <p><b>Tên người dùng</b></p>
        <p>@Model.TENNGUOIDUNG</p>
    </div>
    <div class="row styled-block">
        <p><b>Tên đăng nhập</b></p>
        <p>@Model.TENDANGNHAP</p>
    </div>
    <div class="row styled-block">
        <p><b>Mật khẩu</b></p>
        <p>@Model.MATKHAU</p>
    </div>
    <div class="row styled-block">
        <p><b>Loại tài khoản</b></p>
        <p>@Model.LOAITAIKHOAN</p>
    </div>
    <div class="row styled-block">
        <p><b>Ngày sinh</b></p>
        <p>@Model.NGAYSINH</p>
    </div>
    <div class="row styled-block">
        <p><b>Địa chỉ</b></p>
        <p>@Model.DIACHI</p>
    </div>
    <div class="row styled-block">
        <p><b>Email</b></p>
        <p>@Model.EMAIL</p>
    </div>
    <div class="row styled-block">
        <p><b>Giới tính</b></p>
        <p>@Model.GIOITINH</p>
    </div>
</div>

