@model BaoCaoWebNangCao.Models.TAIKHOAN
@section recipeCategoryStle {
    <link rel="stylesheet" href="~/Areas/Admin/dist/css/index.css" />
}


<div class="container">
    <div class=" row styled-block">
        <p class="d-flex justify-content-center" ><b>Ảnh đại diện</b></p>
        <div class="d-flex justify-content-center"><img src="@Model.HINHANH" style="width: 100px; height: 100px;object-fit:cover; border-radius: 10px" /></div>
    </div>
    <div class="styled-block">
        <table class="table">
            <tr>
                <th>ID người dùng</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Tên người dùng</th>
                <td>@Model.TENNGUOIDUNG</td>
            </tr>
            <tr>
                <th>ID danh mục</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Tên đăng nhập</th>
                <td>@Model.TENDANGNHAP</td>
            </tr>
            <tr>
                <th>Mật khẩu</th>
                <td>@Model.MATKHAU</td>
            </tr>
            <tr>
                <th>Loại tài khoản</th>
                <td>@Model.LOAITAIKHOAN</td>
            </tr>
            <tr>
                <th>Ngày sinh</th>
                <td>@Model.NGAYSINH</td>
            </tr>
            <tr>
                <th>Địa chỉ</th>
                <td>@Model.DIACHI</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.EMAIL</td>
            </tr>
            <tr>
                <th>Giới tính</th>
                <td>@Model.GIOITINH</td>
            </tr>
        </table>
    </div>
</div>

