
@model BaoCaoWebNangCao.Models.CONGTHUC
@section recipeCategoryStle {
    <link rel="stylesheet" href="~/Areas/Admin/dist/css/index.css" />
}

<div class="container">
    <div class=" row styled-block">
        <p class="d-flex justify-content-center"><b>Hình ảnh</b></p>
        <div class="d-flex justify-content-center"><img src="@Model.HINHANH" style="width: 100px; height: 100px;object-fit:cover; border-radius: 10px" /></div>
    </div>  
    <div class="styled-block">
        <table class="table">
            <tr>
                <th>ID danh mục</th>
                <td>@Model.IDDANHMUC</td>
            </tr>
            <tr>
                <th>ID công thức</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Tên công thức</th>
                <td>@Model.TENCONGTHUC</td>
            </tr>
            <tr>
                <th>Ngày đăng tải</th>
                <td>@Model.NGAYDANGTAI</td>
            </tr>
            <tr>
                <th>Nguyên liệu</th>
                <td>@Model.NGUYENLIEU</td>
            </tr>
        </table>
    </div>
    <div class="row styled-block">
        <p><b>Nội dung</b></p>
        <div style="max-height:100%; max-width:100%"><p>@Html.Raw(Model.NOIDUNG)</p></div>
    </div>
    <div class="row styled-block">
        <p><b>Nồi dung phụ</b></p>
        <p>@Html.Raw(Model.NOIDUNGPHU)</p>
    </div>
</div>


