@model BaoCaoWebNangCao.Models.CONGTHUC

@{
    ViewBag.Title = "Cập Nhật Công Thức ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMax.cshtml";

    BaoCaoWebNangCao.Models.WEBNANGCAOEntities1 db = new BaoCaoWebNangCao.Models.WEBNANGCAOEntities1();

}

@section recipeCategoryStle {
    <link rel="stylesheet" href="~/Areas/Admin/dist/css/index.css" />
    <script src="~/Areas/Admin/dist/js/validateForm.js"></script>
}

<div class="row styled-block">
    <h2 class="custom-font d-flex justify-content-center"><b>SỬA <b style="color:#8540F5">CÔNG THỨC</b></b></h2>
</div>
<form action="@Url.Action("Edit","CongThuc",new {area="Admin",id=Model.ID})" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.ID" />
    <div class="row">
        <div class="col-md-6">
            <label for="iddanhmuc" class="form-label">ID Danh Mục<span class="text-danger">*</span></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-list"></i></span>
                </div>
                <select class="form-control" id="iddanhmuc" name="iddanhmuc">
                    @try
                    {
                        foreach (var item in db.DANHMUCCONGTHUCs.ToList())
                        {
                            if (Model.DANHMUCCONGTHUC != null)
                            {
                                <option value="@item.ID" @Html.Raw(item.ID == Model.IDDANHMUC ? "selected" : "")>@item.TENDANHMUC</option>
                            }
                        }
                    }
                    catch (Exception e)
                    {
                        Console.Write("", e);
                    }
                </select>

            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="tencongthuc">Tên Công Thức<span class="text-danger">*</span></label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-wine-glass-alt"></i></span>
                <input type="text" class="form-control" id="tencongthuc" name="tencongthuc" placeholder="" value="@Model.TENCONGTHUC" />
            </div>
        </div>
        <div class="col-md-6">
            <label for="ngaydangtai">Ngày Đăng Tải<span class="text-danger">*</span></label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                <input type="date" class="form-control" id="ngaydangtai" name="ngaydangtai" placeholder="" value="@Model.NGAYDANGTAI.Value.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-6">
            <label for="nguyenlieu">Nguyên Liệu<span class="text-danger">*</span></label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-pizza-slice"></i></span>
                <input type="text" class="form-control" id="nguyenlieu" name="nguyenlieu" placeholder="" value="@Model.NGUYENLIEU" />
            </div>
        </div>
        <div class="col-md-6">
            <label for="hinhanh">Hình Ảnh<span class="text-danger">*</span></label>

            <img src="@Model.HINHANH" style="width: 80px; height: 80px;border-radius:5px; margin:15px" />
            <input type="file" class="form-control" id="hinhanh" name="hinhanh" placeholder="" value="@Model.HINHANH" />
        </div>

        <div class="col-md-12">
            <label for="noidung">Nội Dung</label>

            <textarea class="form-control" id="noidung" name="noidung">@Model.NOIDUNG</textarea>
        </div>
        <div class="col-md-12">
            <label for="noidung">Nội Dung Phụ</label>
            <textarea class="form-control" id="noidungphu" name="noidungphu">@Model.NOIDUNGPHU<</textarea>
        </div>
        <div class="d-flex justify-content-between  mt-3">
            <a href="/Admin/congthuc/index" class="btn custom-btn">Trở về</a>
            <button type="submit" class="btn custom-btn">Sửa</button>
        </div>
    </div>
</form>

@section maJS{
    <script>
        CKEDITOR.replace('noidung')
        CKEDITOR.replace('noidungphu')

    </script>
}

<script>
    let inputFile = document.querySelector('#hinhanh');
    let img = inputFile.parentElement.querySelector('img');

    inputFile.onchange = (e) => {
        if (inputFile.files[0]) {
            img.src = URL.createObjectURL(inputFile.files[0]);
        }
    }



</script>
